*{
  margin: 0;
  padding: 0;
}

.container{
  width: 99vw;
  height: 100%;
}

.title-container{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 10vh;
}


.cards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 99vw;
  margin-bottom: -50px;
}

.footer-container{
  height: 10vh;
}